{%extends "layout/inicio.html.twig"%}
{% block contenido %}
<div id="wrapper">
<section class="fullheight b-0" style="background: #FFF">
<div class="ux-card content-card-mod-hide-top-border">
<div class="row">
<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
<h1><span class="h5"><strong>POLÍTICA DE PRIVACIDAD</strong></span></h1>
<strong>
<span>
<span class="h5">Fecha de la última revisión: 01/03/2020</span>
</span>
</strong>
<p></p><p>A Tu Condominio en línea le importa su privacidad.
    Es por esto que recopilamos y usamos su información personal solo conforme 
    sea necesario para ofrecer nuestros productos, servicios, sitios web y 
    aplicaciones móviles y para comunicarnos con usted al respecto, 
    o según usted lo haya solicitado (colectivamente, nuestros "Servicios"). 
    Su información personal incluye lo siguiente:</p>
<ul>
<li>Nombre</li>
<li>Dirección</li>
<li>Números telefónicos</li>
<li>Fecha de nacimiento</li>
<li>Dirección de correo electrónico</li>
<li>Información de facturación y pago de su cuenta de condominio</li>
<li>Otros datos recopilados que lo podrían identificar directa o indirectamente.</li>
</ul>
<p>Nuestra Política de privacidad no solo explica cómo y por qué usamos 
    la información personal que recopilamos, sino también cómo puede acceder, 
    actualizar o por lo demás asumir el control de su información personal.  
</p>
<p>Si en algún momento tiene preguntas sobre nuestras prácticas o cualquiera de 
    sus derechos que se detallan a continuación, se puede dirigir a 
    soporte@v2.web.ve.com para comunicarse con nostros y brindarle asistencia técnica. 
    Controlamos y manejamos activamente esta bandeja de entrada para poder brindarle 
    una experiencia en la que puede confiar con seguridad.</p>
<p></p>
<strong>
<span><span class="h2"><strong>Qué información recopilamos, cómo lo hacemos y por qué</strong></span></span>
</strong>
<p></p><p>Mucha de la que probablemente considere información personal se 
    obtiene directamente de usted cuando:</p>
<ol type="i">
<li>Crea una cuenta o usa nuestros Servicios (p. ej.: información sobre 
    facturación, incluido el nombre, la dirección);</li>
<li>Completa formularios de contacto o solicita boletines informativos u otra información (p. ej.: correo electrónico)</li>
</ol>   
<p></p>
<p><strong>Las cookies y las tecnologías similares</strong>en nuestros sitios 
    web y en nuestras aplicaciones móviles nos permiten hacer el seguimiento de 
    su comportamiento de navegación, saber a qué enlaces hace click, su tipo de 
    dispositivo y obtener varios datos, incluidos los analíticos, acerca de cómo 
    usa e interactúa con nuestro sitio web. Estas tecnologías recopilan datos 
    automáticamente cuando usa e interactúa con nuestro Servicio, incluidos los 
    metadatos, los archivos de registro, la ID de las cookies/los dispositivos, 
    el tiempo de carga de la página, el tiempo de respuesta del servidor, y la 
    información de la ubicación aproximada para medir el desempeño del sitio web 
    y mejorar nuestros sistemas. Incluye la optimización de la resolución del 
    DNS, el enrutamiento de la red y las configuraciones del servidor. 
    Específicamente, se recopilan las interacciones con las funciones, el 
    contenido y los enlaces (incluidos los de terceros, como los complementos de 
    medios sociales) que están dentro del Servicio, la dirección del Protocolo 
    de internet (IP), el tipo y las configuraciones del navegador, la fecha y 
    hora en que se usaron los Servicios, la información acerca de la configuración 
    y los complementos del navegador, las preferencias de idioma y los datos de 
    las cookies, la información acerca de los dispositivos para acceder al Servicio,
    incluido el tipo de dispositivo, el sistema operativo que se usa, las 
    configuraciones del dispositivo, las ID de la aplicación, los identificadores 
    únicos de dispositivo y datos de error. Todo esto nos permite ofrecerle 
    una mejor experiencia en nuestro sitio web y aplicación móvil, y recopilar, 
    analizar y mejorar el desempeño de nuestro Servicio. También podemos obtener 
    su ubicación (dirección IP) para personalizar nuestro Servicio.
</p>
<p>Se pueden recibir <strong>datos suplementarios</strong>acerca de usted de otras fuentes, inclusive bases de datos públicas o terceros de quienes hayamos adquiridos datos, en cuyo caso podemos combinar estos datos con la información que ya tenemos acerca de usted. Esto nos permite actualizar, ampliar y analizar la exactitud de nuestros registros, valorar las calificaciones de un candidato para un puesto de trabajo, identificar a los nuevos clientes y ofrecerle productos y servicios que le pueden interesar. Si nos proporciona información personal acerca de otras personas, o si otras personas nos proporcionan información acerca de usted, solo utilizaremos dicha información para el propósito específico para el cual se proporcionó.</p>
<strong>
<span><span class="h2"><strong>Cómo utilizamos la información.</strong></span></span>
</strong>
<p>Creemos firmemente en minimizar los datos que recopilamos y en limitar su uso y finalidad solo (1) para los que se nos ha otorgado permiso, (2) en la medida que sea necesario para entregar los Servicios que compra o interactúa, o (3) en la medida que nos sea requerido o permitido para cumplir con las obligaciones legales u otros fines lícitos:</p>
<p></p><p><strong>Entrega, mejora, actualización y ampliación de nuestros Servicios.</strong> Obtenemos información variada con relación a su compra, uso y/o interacciones con nuestros Servicios. Usamos esta información para:</p>
<ul>
<li>Mejorar y optimizar la operación y el desempeño de nuestros Servicios (nuevamente, incluye nuestros sitios web y aplicaciones móviles).</li>
<li>Diagnosticar problemas e identificar los riesgos de seguridad, errores o mejoras necesarias a los Servicios.</li>
<li>Detectar y evitar fraudes y abusos de nuestros Servicios y sistemas.</li>
<li>Obtener estadísticas globales sobre el uso de los Servicios.</li>
<li>Entender y analizar cómo utiliza nuestros Servicios y cuáles son los productos y servicios más importantes para usted.</li>
</ul>
<p>Gran parte de los datos recopilados son datos compilados o estadísticos sobre el modo en que las personas usan nuestros Servicios y no están vinculados con ningún tipo de información personal.  
</p>
<p></p>
<p></p><p><strong>Compartir con terceros de confianza.</strong> Podemos compartir su información personal con empresas afiliadas dentro de nuestra familia corporativa, con terceros con los que nos hemos asociado para que usted pueda integrar los servicios de ellos dentro de nuestros propios Servicios y con terceros de confianza y proveedores de servicio en la medida que sea necesario para que presten servicios en nuestro nombre, como:</p>
<ul>
<li>Procesamiento de pagos con tarjeta de crédito</li>
<li>Ofrecer publicidad</li>
<li>Organización de concursos o encuestas</li>
<li>Análisis de desempeño de nuestros Servicios y datos demográficos de los clientes</li>
<li>Comunicaciones con usted por correo electrónico o entrega de encuestas</li>
<li>Administración de relaciones con el cliente.</li>
<li>Contratación de asistencia técnica y servicios relacionados.</li>
</ul>
<p>Solo compartimos su información personal en la medida que sea necesario para que el tercero brinde servicios en nuestro nombre conforme a lo solicitado o cuando sea necesario. Estos terceros (y cualquier subcontratista que estuviera autorizado a emplear) están sujetos a términos y condiciones estrictos de procesamiento de datos y tienen prohibido utilizar, compartir o retener sus información personal con una finalidad distinta para la que han sido específicamente contratados (o sin su consentimiento).</p>
<p>También podemos compartir su información con terceros para facilitar/permitir una fusión, adquisición o venta de todos o básicamente todos nuestros activos, en cuyo caso la compañía adquirente podrá seguir utilizando sus datos para los fines y con la intención que fueron proporcionados.</p>
<p></p>
<p></p><p><strong>Comunicaciones con usted.</strong> Nos podemos comunicar directamente con usted o a través de un tercero proveedor de servicios con referencia a los productos o servicios en los que se registró o nos compró, tales como los necesarios para enviar comunicaciones de transacciones o relacionadas con el servicio. También, si nos autoriza, nos comunicaremos con usted con ofertas para servicios adicionales que creemos que le resultarán de interés, o se permitieron teniendo en cuenta los intereses legítimos No es necesario que nos de su autorización como condición para comprar nuestros bienes o servicios. Estos contactos pueden incluir:</p>
<ul>
<li>Correo electrónico</li>
<li>Mensajes de texto (SMS)</li>
<li>Llamadas telefónicas</li>
<li>Aplicaciones de mensajería (p. ej. WhatsApp, entre otras)</li>
<li>Llamadas telefónicas o mensajes de texto automáticos</li>
</ul>
<p>También puede actualizar sus preferencias de suscripción para recibir nuestras comunicaciones y/o la de nuestros socios. Para ello, inicie sesión en su cuenta y visite la página “Configuración de cuenta”</p>
<p>Si recopilamos información sobre usted en relación a una oferta de marcas compartidas, en ese momento se especificará quién recopila la información y a quién pertenece la política de privacidad que se aplica en este caso. Además, se especificarán las opciones de elección que tiene con respecto al uso y/o al uso compartido de su información personal con un socio de marca, así como de la forma en que puede hacer uso de esas opciones. No somos responsables de las prácticas de privacidad o el contenido de dichos sitios de terceros. Lea la política de privacidad de cualquier sitio web que visite.</p>
<p></p>
<strong>
<span><span class="h2"><strong>Cómo aseguramos, almacenamos y retenemos sus datos.</strong></span></span>
</strong>
<p></p><p>Seguimos estándares generalmente aceptados para almacenar y proteger la información personal que recopilamos durante la transmisión y una vez recibidos y almacenados, incluida la utilización de cifrado cuando corresponda.</p>
<p>Conservamos la información personal solo durante el tiempo necesario para proporcionar los Servicios que ha solicitado y en lo sucesivo para diversos fines legales o comerciales. Esto podría incluir períodos de retención:</p>
<ul>
<li>exigidos por ley, por contrato o por obligaciones similares aplicables a nuestras operaciones comerciales;</li>
<li>para preservar, resolver, defender o hacer cumplir nuestros derechos legales/contractuales; o</li>
<li>necesarios para llevar registros comerciales y económicos que sean adecuados y exactos.</li>
</ul>
<p>Si tiene alguna pregunta acerca de la seguridad o retención de su información personal, 
    puede comunicarse con nosotros en <a href="mailto:soporte@v2.web.ve">soporte@v2.web.ve</a>.</p>
<p></p>
<strong>
<span><span class="h2"><strong>Notificaciones <em>‘No dar seguimiento’</em>.</strong></span></span>
</strong>
<p>Algunos navegadores le permiten notificar automáticamente a los sitios web que visita que no le hagan el seguimiento. Para ello utilice la señal “No dar seguimiento”. No hay consenso entre los participantes de la industria con respecto a qué significa “No dar seguimiento” en este contexto. Al igual que muchos sitios web y servicios en línea, actualmente no modificamos nuestras prácticas cuando recibimos una señal de “No dar seguimiento” del navegador de un visitante. Para obtener más información acerca de la señal de “No dar seguimiento” puede acceder a <a href="https://allaboutdnt.com/">www.allaboutdnt.com</a>.</p>
<strong>
<span><span class="h2"><strong>Restricciones de edad.</strong></span></span>
</strong>
<p>Nuestros Servicios están disponibles para la venta solo a personas mayores de 18 años.  Nuestros Servicios no están dirigidos a menores de 18 años, ni tampoco es la intención que ellos los consuman ni están diseñados para seducirlos. Comuníquese con nosotros si tiene conocimiento o algún motivo para suponer que un menor de 18 años nos proporcionó información personal.</p>
<strong>
<span><span class="h2"><strong>No discriminación</strong></span></span>
</strong>
<p></p><p>No lo discriminaremos por ejercer ninguno de sus derechos de privacidad. Salvo que esté permitido por las leyes correspondientes, nosotros no:</p>
<ul>
<li>Le negaremos bienes ni servicios.</li>
<li>Le cobraremos precios ni tarifas distintas por bienes o servicios, incluso a través de descuentos u otros beneficios otorgados, ni le impondremos multas.</li>
<li>Le proporcionaremos un nivel ni una calidad de bienes o servicios distinta.</li>
<li>Le sugeriremos que tal vez obtenga un precio o una tarifa diferentes por bienes o servicios o un nivel o calidad diferente de bienes o servicios.</li>
</ul>
<p></p>
<strong>
<span><span class="h2"><strong>Cambios a esta política.</strong></span></span>
</strong>
<p>Nos reservamos el derecho de modificar esta Política de privacidad en cualquier momento. Si decidimos cambiar nuestra Política de privacidad, publicaremos dichos cambios en esta Política de privacidad y en cualquier otro lugar que consideremos adecuado, para que esté al tanto de qué información recopilamos, cómo la utilizamos y en qué circunstancias la revelamos, si corresponde. Si realizamos cambios sustanciales a esta Política de privacidad, le notificaremos aquí, por correo electrónico o mediante un aviso en su página de inicio, al menos treinta (30) días antes de la implementación de los cambios.</p>
<strong>
<span><span class="h2"><strong>Comuníquese con nosotros.</strong></span></span>
</strong>
<p></p>
<p>Si tiene alguna pregunta relacionada con la privacidad, inquietud o 
    queja acerca de nuestra Política de privacidad, nuestras prácticas o nuestros Servicios, 
    comuníquese por correo electrónico a soporte@v2.web.ve.
</p><p></p>
<p><strong><em>Responderemos todos los pedidos, preguntas y preocupaciones dentro de un plazo de 30 (treinta) días.</em></strong></p>
<p></p></div><p></p>
<p></p>

</div>
</div>
</section>
</div>
{% endblock %}
