<footer id="footer" class="{{class}}">
<div class="copyright">
<div class="container">
<ul class="float-right m-0 list-inline mobile-block">
<li>Otro desarrollo de <a href="https://www.pronet21.com.ve">Pronet21.com.ve</a></li>
</ul>
&copy; 2020 - Todos los derechos reservados. Sistema de consultas condominio en línea
</div>
</div>
</footer>
